$purple: rgb(62, 14, 94);

#content {
    height: 100%;
    width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.left,
.right {
    width: 55px;
    height: 55px;
    position: absolute;
    cursor: pointer;

}

.left {
    top: 45%;
    left: 5%;

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
        color: purple;
    }
}

.right {
    top: 45%;
    right: 5%;

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
        color: purple;
    }
}